@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans/Regular/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans/Regular/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Medium';
	src: url('../fonts/OpenSans/Medium/OpenSans-Medium.eot');
	src: local('☺'), url('../fonts/OpenSans/Medium/OpenSans-Medium.woff') format('woff'), url('../fonts/OpenSans/Medium/OpenSans-Medium.ttf') format('truetype'), url('../fonts/OpenSans/Medium/OpenSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: 500;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans/Bold/OpenSans-Bold.eot');
	src: local('☺'), url('../fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans/Bold/OpenSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: 700;
}