.header {
    font-family: "OpenSans-Bold";
    display: flex;
    align-items: center;
    height: 75px;
}

.header__logo {
    margin-left: 25px;
}

.header__menu {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    display: flex;
    width: 100%;
}

.header__menu__list {
    align-items: center;
    list-style-type: none;
    justify-content: center;
    display: flex;
}

.header__menu__list__item {
    padding-left: 20px;
}

.header__menu__list__item:first-child {
    padding-left: 50px;
}

.header__auth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

.header__auth__item {
    margin-left: 10px;
    margin-right: 10px;
}