/* Обнуление */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, main, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/* ------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans/Regular/OpenSans-Regular.eot');
	src: local('☺'), url('../fonts/OpenSans/Regular/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans/Regular/OpenSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Medium';
	src: url('../fonts/OpenSans/Medium/OpenSans-Medium.eot');
	src: local('☺'), url('../fonts/OpenSans/Medium/OpenSans-Medium.woff') format('woff'), url('../fonts/OpenSans/Medium/OpenSans-Medium.ttf') format('truetype'), url('../fonts/OpenSans/Medium/OpenSans-Medium.svg') format('svg');
	font-weight: 500;
	font-style: 500;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans/Bold/OpenSans-Bold.eot');
	src: local('☺'), url('../fonts/OpenSans/Bold/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans/Bold/OpenSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: 700;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    background-color: #6a6a6a;
}

.container {
    max-width: 100%;
    margin: 0px auto;
}

@media (min-width: 767px) {
    .hamburger-menu {
        display: none;
    }
    
    .header__row {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        height: 85px;
        background-color: #3f3f3f;
        font-family: 'OpenSans-Medium';
    }
    
    .header__menu__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .header__menu__list li {
        padding: 0px 20px;
    }
    
    .header__menu__list a {
        padding: 7px;
        color: white;
        background-color: #2c2c2c;
    }
    
    .menu__item.active {
        color: orange;
    }
}

a:hover {
    color: orange;
}

.main {
    flex: 1 1 auto;
}

.main__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 100%;
    font-family: 'OpenSans-Regular';
}

.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    margin-top: 100px;
}

.main__code {
    margin: 50px 0px;
    background-color: white;
}

.main__table {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.table__item {
    text-align: center;
    border: 2px dashed;
    padding: 30px;
}

.main__info {
    color: white;
}

.main__todoList {
    margin: 120px auto;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    padding: 25px;
}

.todoList__title {
    font-size: 30px;
    font-weight: 600;
}

.inputField {
    display: flex;
    height: 45px;
    width: 100%;
    margin: 20px 0px;
}

.todoList {
    max-height: 250px;
    overflow-y: auto;
}

.todoList li {
    height: 45px;
    line-height: 45px;
    position: relative;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0px 15px;
    cursor: default;
    overflow: hidden;
}

.todoList li span {
    position: absolute;
    right: -45px;
    color: #fff;
    width: 45px;
    text-align: center;
    border-radius: 0px 3px 3px 0px;
    background: #e74c3c;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todoList li:hover span {
    right: 0px;
}

.inputField input {
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    outline: none;
    font-size: 17px;
    border-radius: 3px;
    padding-left: 15px;
    transition: all 0.3s ease;
}

.inputField input:focus {
    border-color: #8E49E8;
}

.inputField button {
    width: 60px;
    height: 100%;
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.todoList__score {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.todoList__score button {
    border: none;
    outline: none;
    background: #8E49E8;
    color: #fff;
    font-weight: 400;
    margin-left: 5px;
    user-select: none;
    pointer-events: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 10px;
}

.todoList__score button.active {
    opacity: 1;
    pointer-events: auto;
}

.pink {
    color: #ff0597;
}

.purple {
    color: #5A009D;
}

.blue {
    color: #004DFF;
}

.red {
    color: #ff0606;
}

.footer__row {
    display: flex;
    height: 55px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans-Bold';
    padding: 0 20px;
}

.footer__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vk, .telegram, .github {
    padding: 0px 5px;
}

.loadTime {
    margin: 0px 50px;
}

.back {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .header__menu {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
      }
      
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 2px;
      
        background-color: #fff;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 100%;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #3f3f3f;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .menu__item {
        display: block;
        padding: 12px 24px;
      
        color: #fff;
      
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #CFD8DC;
      }
}