* {
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    height: 100%;
}

.main {
    display: flex;
}

.link {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
}

.link:hover {
    color: orange;
}